body {
    margin: 0;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/styles/goth_woman.jpg');
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 350px 1fr 170px;
    grid-template-rows: 1fr;
    background-color: whitesmoke;
    height: 80px;
    border-bottom: 3px solid;
}



.logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo a{
    color: black;
    font-family: 'Metal Mania', cursive;
    font-size: 40px;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: firebrick;
}

.contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:5px;
    margin-right: 10px;
}

.contacto a{
    color: black;
    text-decoration: none;
}

.icono img {
    width: 25px;
    height: 25px;
}

.x {
    height: fit-content;
    background-image: url('/styles/goth_woman.jpg');
    background-position: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.box {
    margin-top: 150px;
    margin-left: 80px;
    height: 400px;
    width: 400px;
    color: whitesmoke;
    
}

.search-box {
    font-size: 20px;
    margin-bottom: 10px;
    border: none;
    width: 90%;
    border-radius: 24px;
    height: 50px;
    border: solid 2px whitesmoke;
    background-color: black;
    color: white;
    outline: none;
        
}

.search-button {
    font-size: 18px;
    border: none;
    height: 30px;
    border-radius: 14px;
    width: 100px;
    border: solid 2px whitesmoke;
    background-color: black;
    color: white;
}

